<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharmacist</title>
    <style>
        body{
            width: 100%; height: 100vh;
            margin: 0px;
        }
    </style>
</head>
<body>
    <div>
        <button class="btn-adddrug">Add drug</button>
        <button class="btn-viewdrug">View Drugs</button>
        <button class="btn-administer">Administer Prescription</button>
    </div>
    <div class="content">
        <div class="adddrug">
            <h2>Add Drug</h2>
        </div>
        <div class="viewdrug">
            <h2>View Drug</h2>
        </div>
        <div class="administer">
            <h2>Administer Prescription</h2>
        </div>
    </div>
    <script>

    </script>
</body>
</html>